.container {
  padding: 64px;

  > form {
    display: flex;
    gap: 8px;
    height: 32px;

    > input {
      width: 200px;
    }
  }

  > pre {
    margin-top: 32px;
    padding: 16px;
    border-radius: 16px;
    background: #282828;
    color: #fff;
    overflow: scroll;
  }
}
